.u-section-1 {
  background-image: none;
  min-height: 1396px;
}

.u-section-1 .u-image-1 {
  height: 543px;
  margin-top: 2px;
  margin-bottom: 0;
  object-position: 50% 0%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-image-2 {
  width: 311px;
  height: 311px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/liang.jpg");
  background-position: 50% 50%;
  margin: -131px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 0 8px rgba(128,128,128,1);
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
  width: 177px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.875rem;
  width: 752px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1059px;
  min-height: 189px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  margin: 67px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-family: Jura;
  width: 101px;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-family: Jura;
  width: 101px;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-family: Jura;
  width: 101px;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-family: Jura;
  width: 101px;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-1 .u-list-2 {
  width: 792px;
  min-height: 189px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  margin: 31px auto 48px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-family: Jura;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-family: Jura;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-icon-7 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-family: Jura;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1208px;
  }

  .u-section-1 .u-image-1 {
    height: 403px;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -89px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    height: auto;
    margin-top: 60px;
  }

  .u-section-1 .u-list-2 {
    min-height: 131px;
    height: auto;
    margin-top: -19px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 6px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 6px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 6px;
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 404px;
  }

  .u-section-1 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-1 .u-text-2 {
    font-family: Roboto, sans-serif;
    font-weight: normal;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-list-2 {
    width: 720px;
    min-height: 189px;
    margin-top: 18px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-7 {
    margin-right: -61px;
    margin-left: -61px;
  }

  .u-section-1 .u-text-8 {
    margin-right: -61px;
    margin-left: -61px;
  }

  .u-section-1 .u-text-9 {
    margin-right: -61px;
    margin-left: -61px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1033px;
  }

  .u-section-1 .u-image-1 {
    height: 403px;
    margin-top: 1px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -98px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 146px;
    margin-top: 22px;
  }

  .u-section-1 .u-text-2 {
    width: 205px;
    font-size: 1rem;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    min-height: 169px;
    margin-top: 45px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
    margin-top: -33px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: -46px;
    margin-left: -46px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: -46px;
    margin-left: -46px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: -46px;
    margin-left: -46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 681px;
  }

  .u-section-1 .u-image-1 {
    height: 241px;
  }

  .u-section-1 .u-image-2 {
    width: 130px;
    height: 130px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 279px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    min-height: 111px;
    grid-gap: 4px 4px;
    grid-template-columns: calc(25% - 3px) calc(25% - 3px) calc(25% - 3px) calc(25% - 3px);
  }

  .u-section-1 .u-icon-1 {
    height: 37px;
    width: 37px;
    margin-top: -17px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 6px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-1 .u-icon-2 {
    height: 37px;
    width: 37px;
    margin-top: -17px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 6px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-1 .u-icon-3 {
    height: 37px;
    width: 37px;
    margin-top: -17px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 6px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-1 .u-icon-4 {
    height: 37px;
    width: 37px;
    margin-top: -17px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 6px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-1 .u-list-2 {
    width: 354px;
    min-height: 139px;
    margin-top: 0;
  }

  .u-section-1 .u-icon-5 {
    height: 37px;
    width: 37px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    margin: 8px 0 0;
  }

  .u-section-1 .u-icon-6 {
    height: 37px;
    width: 37px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
    margin: 8px 0 0;
  }

  .u-section-1 .u-icon-7 {
    height: 37px;
    width: 37px;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.875rem;
    margin: 8px 0 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 599px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 16px auto 0;
  padding: 8px 127px 8px 126px;
}

.u-section-2 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 3rem;
  margin: 84px 354px 0;
}

.u-section-2 .u-text-2 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.875rem;
  margin: 20px 324px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 37px 116px 60px 115px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 45px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 254px;
    margin-right: 254px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 224px;
    margin-right: 224px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 45px;
    margin-left: 63px;
    margin-right: 63px;
    width: 909px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 88px;
    margin-left: 144px;
    margin-right: 144px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 12px;
    margin-left: 114px;
    margin-right: 114px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-top: 24px;
    margin-left: -27px;
    margin-right: -27px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 67px;
    margin-right: 54px;
    margin-left: 54px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1rem;
    margin-right: auto;
    margin-left: 0;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 19px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 274px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 57px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 124px;
  grid-gap: 4px 4px;
  grid-template-columns: calc(16.6667% - 3.33333px) calc(16.6667% - 3.33333px) calc(16.6667% - 3.33333px) calc(16.6667% - 3.33333px) calc(16.6667% - 3.33333px) calc(16.6667% - 3.33333px);
  width: 898px;
  margin: 0 auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-3 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 55px;
  }

  .u-section-3 .u-list-1 {
    min-height: 252px;
    grid-template-columns: calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px);
    height: auto;
    margin-top: 32px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-3 .u-list-1 {
    min-height: 226px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-3 .u-list-1 {
    min-height: 252px;
    width: 540px;
    margin: 47px 0 48px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 36px;
  }

  .u-section-3 .u-list-1 {
    min-height: 90px;
    grid-gap: 2px 2px;
    grid-template-columns: calc(16.6667% - 1.66667px) calc(16.6667% - 1.66667px) calc(16.6667% - 1.66667px) calc(16.6667% - 1.66667px) calc(16.6667% - 1.66667px) calc(16.6667% - 1.66667px);
    width: 330px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 36px;
  }

  .u-section-3 .u-icon-1 {
    height: 30px;
    width: 30px;
  }

  .u-section-3 .u-icon-2 {
    height: 30px;
    width: 30px;
  }

  .u-section-3 .u-icon-3 {
    height: 30px;
    width: 30px;
  }

  .u-section-3 .u-icon-4 {
    height: 30px;
    width: 30px;
  }

  .u-section-3 .u-icon-5 {
    height: 30px;
    width: 30px;
  }

  .u-section-3 .u-icon-6 {
    height: 30px;
    width: 30px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 761px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 757px;
  width: 833px;
  margin: 2px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-custom-html-1 {
    margin-top: 27px;
    margin-bottom: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}